<!-- classe pai -->
<div class="flex">
<!-- codigo do navbar bootstrap -->
  <div class="navbar1">
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="../assets/logoinsta.png" height="30" class="d-inline-block align-top" alt="">

      </a>
    </nav>
  </div>
<!-- Classe filha do flex responsável por organizar em containers classes da foto do perfil, nome do usuário, seguidores, story e fotos do usuários. -->
  <div class="profile">

    <div class="imageProfile">
      <img id="perfilfake" src="../assets/merlia.jpg" alt="perfil">
    </div>
<!-- classe filha do profile organizando em containers o nome do perfil, informações de seguidores e quantidade de publicações -->
    <div class="profile-chield">

      <div class="informationProfile">

        <div class="name">
          <p>Merlia Faustino</p>
          <button type="submit" class="btn btn-outline-dark">Editar pefil</button>
          <span> <img id="config" src="../assets/settings.svg" alt="config"></span>
        </div>

        <div class="list">
          <ul class="list-group list-group-horizontal-xl">
            <li> <a href="#publications">
                <span>6 Publicações</span>
              </a> </li>
            <li> <a href="#">
                <span>500 seguidores </span>
              </a> </li>
            <li> <a href="#">
                <span>Seguindo 200</span>
              </a> </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
<!-- Classe que organiza os blocos dos stroys -->
  <div class="story1">
    
    <div class="circle">
      <label for="file-upload" class="custom-file-upload">
        <h3>+</h3>
      </label>
      <input id="file-upload" type="file" />
    </div>

    <div class="circle">
      <img id="story" src="../../assets/perfil.png" alt="story">
    </div>

    <div class="circle">
      <img id="story" src="../../assets/foto1.jpg" alt="story">
    </div>

    <div class="circle">
      <img id="story" src="../../assets/foto2.jpg" alt="story">
    </div>

    <div class="circle">
      <img id="story" src="../../assets/foto3.jpg" alt="story">
    </div>

  </div>
<!-- Classe que organiza os blocos das publicações-->
  <div id="publications" class="publications1">

    <div class="publication">
      <img id="epica" src="../assets/epica.jpg" alt="">
    </div>

    <div class="publication">
      <img id="epica" src="../assets/epica2.jpg" alt="">
    </div>

    <div class="publication">
      <img id="epica" id="epica" src="../assets/epica3.jpg" alt="">
    </div>

    <div class="publication">
      <img id="epica" src="../assets/epica4.jpg" alt="">
    </div>

    <div class="publication">
      <img id="epica" src="../assets/epica5.jpg" alt="">
    </div>

    <div class="publication">
      <img id="epica" src="../assets/epica6.jpg" alt="">
    </div>

  </div>

</div>