/* flex-pai, definindo largura, inicio da posição e como ele deve se comportar: coluna */
.profile{
    width: 100%;
    display: flex;
    direction: initial;
    flex-direction: column;
}
/* 
ajusta o navbar no centro da pagina e empura a classe informationProfile para baixo 2% */
.navbar1{
    display: flex;
    direction: initial;
    flex-direction: column;
    margin-bottom: 2%;}

/* ajusta a imagem para o centro */
.imageProfile{

    display: flex;
    margin: 4% 0% 0% 17%;
    width: 14%;
    height: 10%;
}

/* deixa a imagem redonda */
#perfilfake{

    border-radius: 50%;
    width: 190px;
    height: 190px;
    border-style: ridge;
    padding: 3px;
}

.profile-chield{
    display: flex;
    align-items: center;
}

.name{
    display: flex;
    align-items: baseline;
}