<!-- classe pai-flex -->
<div class="flex">
    <!-- container da imagem do comercial -->
    <div class="img1">
        <img src="../assets/img1.png" alt="comercial">
    </div>
    <!-- container onde o formulário fica -->
    <div class="login">
        
        <img id="logoInsta" src="../../assets/insta.png" alt="logo">
        
        <br>
        <!-- formulário -->
        <div class="formDiv">
           
            <form [formGroup]="loginForm" (ngSubmit)="submit()">
                
                <div class="form-group">
                    <input type="email" formControlName="email" class="form-control"  aria-describedby="emailHelp"
                        placeholder="Numero do celular ou email">
                </div>
                <div class="form-group">
                    <input type="password" formControlName="password"  class="form-control"  placeholder="Senha">
                </div>

                <button type="submit" class="btn btn-primary">Entrar</button>

                <div class="separate">
                    <div class="div1"></div>
                    <h6 id="ou">Ou</h6>
                    <div class="div2"></div>
                </div>

                <div class="spanS">
                    <span> <img id="facebook1" src="../assets/facebook.svg" alt="face"> </span>
                    <a  href="https://www.facebook.com/">Entre com o facebook</a>
                </div>
                <a id="password" href="#">Esqueceu a senha?</a>
            </form>
        </div>

        <!-- container que leva o usuário para pagina de cadastro -->
        <div class="register">
            <p>Você Não possui conta?</p>
            <a href="../cadastro"> Cadastre-se!</a>
        </div>

    </div>
</div>