.flex{
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    background: #fafafa;
    align-items: center;
}

.login{
    display: flex;
    background: #fff;
    width: 27%;
    height: 59%;
    align-items: center;
    justify-content: center;
    margin: -11% 0% 0% 5%;
    border: 1px solid #e6e6e6;
    flex-direction: column;
}


.register{
    display: flex;
    background: #fff;
    width: 27%;
    height: 11%;
    align-items: center;
    justify-content: center;
    border: 1px solid #e6e6e6;
    position: absolute;
    margin: 21% 0% 0% 0%;
}

#facebook{
    width: 80%;
    background-color: #3897f0;
    padding: 1px;
    margin: 1%;
}

form{
    width: 70%;
}

.formDiv{
    display: flex;
    width: 99%;
    align-items: center;
    justify-content: center;
}

.btn-primary {
    color: #fff;
    background-color: #3897f0;
    border-color: #3897f0;
    width: 100%;
    margin-bottom: 12%;
}

p{
    margin-top: 0;
    margin-bottom: 0rem;
    margin-right: 2%;
}

.h6, h6 {
    font-size: 1rem;
    margin-bottom: 11px;
    color: #949698;
}

#logoInsta{
    width: 50%;
    height: 17%;
}

#password{
    margin: 15% 0% 0% 26%;
}

.separate{
    margin: 10px 17px 18px;
    display: flex;
    flex-direction: row;
    width: 86%;
}

.div1{
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    background-color: #e9ecef;
    height: 1px;
    position: relative;
    top: .45em;
}

h6{
    color: #999;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    margin: 0 18px;
    text-transform: uppercase;
}

.div2{
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    background-color: #efefef;
    height: 1px;
    position: relative;
    top: .45em;
}

#facebook1{
    width: 7%;
    height: 8%;
    margin: 1% 2% 2% 1%;
}

.spanS{
    margin: 1% 0% 0% 17%;
}

.img1{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* comportamento da pagina alterada quando o tamanho dela por apartir de 1216 */
  @media screen and (max-width: 1216px) {
    div.img1 {
      display: none;
    }

    .register {
        display: flex;
        background: #fff;
        width: 42%;
        height: 11%;
        align-items: center;
        justify-content: center; 
        border: 1px solid #e6e6e6;
        position: absolute;
        margin: 33% 0% 0% 0%;
    }

    .login {
        display: flex;
        background: #fff;
        width: 42%;
        height: 72%;
        align-items: center;
        justify-content: center;
        margin: -11% 0% 0% 5%;
        border: 1px solid #e6e6e6;
        flex-direction: column;
    }

}
/* comportamento da pagina alterada quando o tamanho dela por apartir de 450 */
    @media screen and (max-width: 450px) {
        div.img1 {
          display: none;
        }
    
        .register {
            display: flex;
            background: #fff;
            width: 83%;
            height: 11%;
            align-items: center;
            justify-content: center;
            border: 1px solid #e6e6e6;
            position: absolute;
            margin: 73% 0% 0% 0%;
        }
    
        .login {
            display: flex;
            background: #fff;
            width: 83%;
            height: 68%;
            align-items: center;
            justify-content: center;
            margin: -26% 0% 0% 0%;
            border: 1px solid #e6e6e6;
            flex-direction: column;
        }
     }