<div class="flex">

    <div class="img1">
        <img src="../assets/img1.png" alt="comercial">
    </div>

    <div class="cadastro">
        <img id="insta" src="../../assets/insta.png" alt="logo">

        <br>

        <div class="formDiv">
            <form>
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Numero do celular ou email">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
                </div>

                <button type="submit" class="btn btn-primary">Entrar</button>


                <div class="divisa">
                    <div class="div1"></div>
                    <h6 id="ou">Ou</h6>
                    <div class="div2"></div>
                </div>

                <div class="spanS">
                    <span> <img id="facebook1" src="../assets/facebook.svg" alt="face"> </span>
                    <span>Entre com o facebook</span>
                </div>
                <a id="senha" href="#">Esqueceu a senha?</a>
            </form>

        </div>

        <div class="login">
            <p>Você Não possui conta?</p>
            <a href="../cadastro"> Cadastre-se!</a>
        </div>

    </div>
</div>