<div class="flex">
  <div class="flex-child">
    <div class="edit">

      <h4> Editar Perfil</h4>

      <div class="image">
        <div class="img1">

          <label for="file-upload" data-toggle="modal" data-target="#exampleModal" class="custom-file-upload">
            <h3>+</h3>
          </label>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <input [(ngModel)]="post.image" type="text">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" (click)="savePost()" class="btn btn-primary">Salvar</button>
              </div>
            </div>
          </div>
        </div>
        <p>Alterar foto do perfil</p>
      </div>

      <div class="names">
        <form>
          <div class="row">
            <div class="col">
              <label for="nomeNome">Nome</label>
              <input type="text" id="nomeNome" class="form-control">
            </div>
            <div class="col">
              <label for="nomeUsuario">Nome do usuário</label>
              <input type="text" id="nomeUsuario" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Email</label>
            <input type="email" class="form-control" id="formGroupExampleInput">
          </div>
        </form>
        <button type="submit" (click)="click()" class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </div>
</div>